/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.alert-text {
    text-align: center;
    background-color: #ff000096;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.disp-n {
    display: none !important;
}

.btn-link2 {
    text-decoration: none !important;
}

.btn-link2:hover {
    color: #b80000 !important;
    text-decoration: none !important;
}

.title-tabs {
    margin-left: 1rem !important;
}

.select-margin{
    margin-top: 28px;
}
.select-margin2{
    margin-top: 52px;
}
.select-margin3{
    margin-top: 44px;
}
.select-margin4{
    margin-top: 28px;
}

.botonEnd{
    text-align: right;
  }

.btn-size {
    width: 12rem;
}

.title-size{
    font-size: 16px !important;
    margin-top: 5px !important;
    margin-right: 25px !important;
}
.Section1 {
    color: black;
    height: 842px;
    width: 595px;
    /* to centre page on screen*/
    padding: 100px;
}

.Section1 p {
    font-size: 12px;
}

.title-center {
    text-align: center;
}

.Section2 {
    color: black;
    height: 842px;
    width: 595px;
    /* to centre page on screen*/
    padding-left: 80px;
    padding-right: 60px;
    padding-top: 100px;
    padding-bottom: 30px;
}

.Section2 p {
    font-size: 12px;
}

.title-tab{
    padding-left: 2rem;
}

.ngx-dropdown-list-container {
    top: 0px !important;
    max-height: 250px;
}
.tab-profile{
    width: 100%;
    height: 750px;
    overflow: auto;
}
.text-amort{
    color:red !important; 
    font-size:20px;
}

.title-tab-custom{
    font-size: 15px !important;
}