/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.alert-text {
    text-align: center;
    background-color: #ff000096;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.disp-n {
    display: none !important;
}

.btn-link2 {
    text-decoration: none !important;
}

.btn-link2:hover {
    color: #b80000 !important;
    text-decoration: none !important;
}

.title-tabs {
    margin-left: 1rem !important;
}