<div class="container-fluid py-">
    <div class="row">
      <div class="card col-lg-10 col-xs-12 position-relative z-index-2">
        <div class="card card-plain mb-4">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-lg-6">
                <div class="d-flex flex-column h-100">
                  <h2 class="font-weight-bolder mb-0">Reporte de Pagos</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form #formReport="ngForm" (ngSubmit)="getReportPayments(formReport)" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-2">
              <div class="input-group-static">
                <label>Fecha Inicial</label>
                <input class="form-control calendar-input" [matDatepicker]="pickerI" name="f_inicial">
                <mat-datepicker-toggle matSuffix [for]="pickerI"></mat-datepicker-toggle>
                <mat-datepicker #pickerI></mat-datepicker>
              </div>
            </div>
            <div class="col-md-2">
              <div class="input-group-static">
                <label>Fecha Final</label>
                <input class="form-control calendar-input" [matDatepicker]="pickerF" name="f_final">
                <mat-datepicker-toggle matSuffix [for]="pickerF"></mat-datepicker-toggle>
                <mat-datepicker #pickerF></mat-datepicker>
              </div>
            </div>
            <div class="col-md-3" style="text-align: center;">
              <div class="dropdown">
                <select class="form-control mb-3 select-margin" name="sucursal" #sucursal="ngModel" [(ngModel)]="report.sucursal">
                  <option value="">Sucursal</option>
                  <option value="01">Amecameca</option>
                </select>
              </div>
            </div>
            <div class="col-md-4" style="text-align: center;">
              <div class="dropdown">
                <select class="form-control mb-3 select-margin" name="asesor" #asesor="ngModel" [(ngModel)]="report.asesor">
                  <option  value="">Asesor</option>
                  <option *ngFor="let asesores of asesores;" value="{{asesores.id}}">
                    {{asesores.nombres + ' ' + asesores.paterno}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-1 botonEnd" style="text-align: center;margin-top: 30px">
              <input type="submit" value="Buscar" class="btn btn-lg btn-success lineCenter" [disabled]="!formReport.form.valid"/>
            </div>
          </div>
        </form>
        <div class="row">
            <div class="card">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Prestamo ID</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cliente</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cliente ID</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">P. credito</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">P. Mora</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">No pago</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fecha Pago</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Asesor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let report of reportInfo;">
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <p class="text-xs font-weight-bold mb-0">{{report.prestamo_id}}</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{report.paterno}} {{report.materno}} {{report.nombres}}</p>
                      </td>
                      <td class="align-middle text-sm">
                        <span class="text-xs font-weight-bold mb-0">{{report.cliente_id}}</span>
                      </td>
                      <td class="align-middle text-sm">
                        <span class="text-xs font-weight-bold mb-0">{{report.p_credito}}</span>
                      </td>
                      <td class="align-middle text-sm">
                        <span class="text-xs font-weight-bold mb-0">{{report.p_mora}}</span>
                      </td>
                      <td class="align-middle text-sm">
                        <span class="text-xs font-weight-bold mb-0">{{report.monto}}</span>
                      </td>
                      <td class="align-middle">
                        <span class="text-xs font-weight-bold mb-0">{{report.no_pago}}</span>
                      </td>
                      <td class="align-middle">
                        <span class="text-xs font-weight-bold mb-0">{{report.fecha_pago}}</span>
                      </td>
                      <td class="align-middletext-sm">
                        <span class="text-xs font-weight-bold mb-0">{{report.asesor_paterno}} {{report.asesor_materno}} {{report.asesor_nombre}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>